.item {
  padding-left: 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 1px solid black;
  padding-right: 10px;
  cursor: pointer;
}
span {
  margin-left: 10px;
}
.floatRight {
  float: right;
}
