input {
  border-style: none;
  border-bottom: 3px solid #00b389;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  &:focus {
    outline: none;
  }
}

.main {
  border-bottom: 1px solid black;
}
