@import "~open-color/open-color";

.main {
  width: 50%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 1px 1px 35px -20px;
  background: white;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title {
  font-size: 2rem;
  border-bottom: 1px solid black;
}
